<!DOCTYPE html>
<!-- Fragmento #1 tablas para empresas -->
<section th:fragment="placasEmpresas">

    <div class="container mt-5">
        <div class="row g-3">
            <div class="row justify-content-center">
                <div class="col-lg-10" style="background-color: #E2B844">
                    <div class="card-body p-3">
                        <h5 class="card-title">Placa para Empresas</h5>
                        <p class="card-text" style="text-align: justify;">La sección ‘Placas para Empresas” permite a las 
                            organizaciones diseñar placas personalizadas para reconocimiento, identificación o conmemoración, 
                            con opciones de tamaño, material, grabado y elementos gráficos institucionales.</p>
                    </div>
                </div>
            </div>
            <div class="row row-cols-2 row-cols-md-3 g-4 justify-content-center mt-3">
                <div class="col">
                    <div class="card border-0">
                        <img src="..." class="card-img-top border border-dark" alt="...">
                        <div class="text-center mt-2">
                            <button class="btn btn-link text-decoration-none text-dark p-0 fw-bold" style="background: none; box-shadow: none;" type="button">
                                Tipos de placas para empresas
                            </button>

                        </div>
                    </div>
                </div>
                <div class="card border-0">
                    <img src="..." class="card-img-top border border-dark" alt="...">
                    <div class="text-center mt-2">
                        <button class="btn btn-link text-decoration-none text-dark p-0 fw-bold" style="background: none; box-shadow: none;" type="button">
                            Información de Servicios Corporativos
                        </button>
                    </div>
                </div>
                <div class="card border-0">
                    <img src="..." class="card-img-top border border-dark" alt="...">
                    <div class="text-center mt-2">
                        <button class="btn btn-link text-decoration-none text-dark p-0 fw-bold" style="background: none; box-shadow: none;" type="button">
                            Formulario de Cotización de Empresas
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>