<!DOCTYPE html>
<!-- Fragmento 1 Crear cuadros para preguntas frecuentes -->
<section th:fragment="cuadrosFaq">
    <div class="container mt-5 px-5">
        <div class="row g-3">
            <div class="row justify-content-center">
                <div class="col-md-6" style="background-color: #E2B844">
                    <div class="card-body p-3">
                        <h5 class="card-title" style="text-align: center">Preguntas Frecuentes</h5>
                    </div>
                </div>
            </div>

            <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center">
                <div class="col">
                    <div class="card mb-3" style="max-width: 18rem; background-color: #E2B844">
                        <div class="card-header fw-bold" style="text-align: center">¿Cuál es el precio de las placas?</div>
                        <div class="card-body">
                            <p class="card-text" style="text-align: justify">El precio depende de la medidad y el material seleccionado, puede ver ejemplos en la sección de catálago.</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card mb-3" style="max-width: 18rem; background-color: #E2B844">
                        <div class="card-header fw-bold" style="text-align: center">¿Cuál es el tiempo de entrega?</div>
                        <div class="card-body">
                            <p class="card-text" style="text-align: justify">El tiempo de entrega es de entre 8 a 10 días hábiles, esto dependiendo desde dónde se ordene la placa.</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card mb-3" style="max-width: 18rem; background-color: #E2B844">
                        <div class="card-header fw-bold" style="text-align: center">¿Qué formas de pago aceptan?</div>
                        <div class="card-body">
                            <p class="card-text" style="text-align: justify">Aceptamos la mayoría de formas de pago convencionales; Transferencia, efectivo, SINPE y tarjetas de débito o crédito.</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card mb-3" style="max-width: 18rem; background-color: #E2B844">
                        <div class="card-header fw-bold" style="text-align: center">¿Qué ubicaciones tienen?</div>
                        <div class="card-body">
                            <p class="card-text" style="text-align: justify">Nos encontramos en todas las provincias, excepto Limón. Puede contactarnos en la sección de Soporte.</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card mb-3" style="max-width: 18rem; background-color: #E2B844">
                        <div class="card-header fw-bold" style="text-align: center">¿Hacen envíos?</div>
                        <div class="card-body">
                            <p class="card-text" style="text-align: justify">Sí, se realizan envíos a todo el país. Dentro de la GAM se realiza con mensajero privado y afuera se realiza por medio de encomienda.</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card mb-3" style="max-width: 18rem; background-color: #E2B844">
                        <div class="card-header fw-bold" style="text-align: center">¿Cuentan con garantía?</div>
                        <div class="card-body">
                            <p class="card-text" style="text-align: justify">La garantía depende del materia escogido: Placas en mármol tienen garantía de un año, en Pintura garantía de 3 meses y fotocerámica de por vida.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>