<!DOCTYPE html>
<section th:fragment="placasMascotas">

    <div class="container mt-5">
        <div class="row g-3">
            <div class="row justify-content-center">
                <div class="col-lg-10" style="background-color: #E2B844">
                    <div class="card-body p-3">
                        <h5 class="card-title">Placa para Mascotas</h5>
                        <p class="card-text" style="text-align: justify;">La sección “Placas para mascotas” está diseñada para que los 
                            usuarios creen placas identificativas o conmemorativas para sus animales. Ofrece opciones de forma, tamaño, 
                            material y grabado, además de iconos y elementos visuales relacionados con mascotas.</p>
                    </div>
                </div>
            </div>
            <div class="row row-cols-2 row-cols-md-3 g-4 justify-content-center mt-3">
                <div class="col">
                    <div class="card border-0">
                        <img th:src="@{img/placas/mascotas1.jpeg}" style="width: 100%; height: 400px; object-fit: contain;" 
                             class="img-fluid rounded" alt="...">
                        <div class="text-center mt-2">
                            <a th:href="@{/galeria/listado}" class="btn btn-warning">
                                Tipos de placas para mascotas
                            </a>

                        </div>
                    </div>
                </div>
                <div class="card border-0">
                    <img th:src="@{img/placas/mascotas2.jpeg}" style="width: 100%; height: 400px; object-fit: contain;" 
                             class="img-fluid rounded" alt="...">
                    <div class="text-center mt-2">
                        <a th:href="@{/faq}" class="btn btn-warning">
                            Preguntas frecuentes de mascotas
                        </a>
                    </div>
                </div>
                <div class="card border-0">
                    <img th:src="@{img/placas/mascotas3.jpeg}" style="width: 100%; height: 400px; object-fit: contain;" 
                         class="img-fluid rounded" alt="...">
                    <div class="text-center mt-2">
                        <a th:href="@{/disenar}" class="btn btn-warning">
                            Diseñar placa para mascota
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>