<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <body>

        <!-- Fragmento de recursos -->
    <head th:fragment="head_recursos">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
        <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    </head>
    <!-- FRAGMENTO NAVBAR -->
    <nav th:fragment="navbar" class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarMenu"
                    aria-controls="navbarMenu"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarMenu">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/catalogo}">Catálogo</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- FRAGMENTO FOOTER -->
    <footer th:fragment="footer" class="footer-placas">
        <p class="mb-0">© 2026 La Casa de la Placa — Todos los derechos reservados |
            Desarrollado por <strong>Fidelitas, Grupo #7</strong></p>
    </footer>

</body>

</html>