
<section th:fragment="funciones" class="container-fluid mt-4">
    <div class="row">

        <div class="col-lg-5">
            <div class="card w-100 border-0" style="background-color: #E2B844; border-radius: 10px;">
                <div class="card-body p-4">
                    <h5 class="card-title text-center mb-4" style="font-weight: bold;">Información sobre la Entrega de la Placa</h5>
                    <br/>
                    <h6 class="card-subtitle mb-2" style="font-weight: bold;">Proceso de Creación de la Placa</h6>
                    <p class="card-text">El usuario debe seleccionar las características del diseño que desea: tamaño, color, material, fotografías y tipografía.</p>
                    <br/>
                    <br/>
                    <h6 class="card-subtitle mb-2" style="font-weight: bold;">Tiempos de fabricación y entrega</h6>
                    <p class="card-text">El tiempo de entrega es de 7 a 10 días hábiles, una vez finalizado y cancelado el pedido.</p>
                    <br/>
                    <br/>
                    <h6 class="card-subtitle mb-2" style="font-weight: bold;">Políticas básicas</h6>
                    <p class="card-text">Para garantizar tu entrega, asegurá la cancelación del pedido. Recordá que cualquier cambio debe solicitarse con 4 días de anticipación.</p>
                </div>
            </div>
        </div>

        <div class="col-md-3 border-start">
            <div class="text-center">
                <img th:src="@{img/placas/placablanca.jpeg}" style="width: 100%; height: 200px; object-fit: contain;" 
                     class="img-fluid rounded" alt="...">
                <br/>
                <br/>
            </div>
            <div class="card w-100 border-0" style="background-color: #E2B844; border-radius: 10px;">
                <div class="card-body p-4">
                    <h6 class="card-subtitle mb-2 text-center" style="font-weight: bold;">Paso 1: ELABORACIÓN</h6>
                    <p class="card-text text-center">*Tiempo: 5 Días</p>
                    <p class="card-text text-center">*Descripción: Fabricamos y personalizamos tu producto con la mejor calidad.</p>
                    <p class="card-text text-center">*Color sugerido: Azul o Amarillo</p>
                    <br/>
                    <h6 class="card-subtitle mb-2 text-center" style="font-weight: bold;">Paso 2: DESPACHO</h6>
                    <p class="card-text text-center">*Tiempo: 2 Días</p>
                    <p class="card-text text-center">*Descripción: Embalaje seguro, etiquetado y entrega a la paquetería.</p>
                    <p class="card-text text-center">*Color sugerido: Naranja o Verde</p>
                    <br/>
                    <h6 class="card-subtitle mb-2 text-center" style="font-weight: bold;">Paso 3: ENTREGA</h6>
                    <p class="card-text text-center">*Tiempo: 1 Día</p>
                    <p class="card-text text-center">*Descripción: La paquetería lo lleva hasta la puerta de tu domicilio.</p>
                    <p class="card-text text-center">*Color sugerido: Rojo o Verde Brillante</p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="text-center">
                <img th:src="@{img/placas/placa4.jpg}" style="width: 100%; height: 200px; object-fit: contain;" 
                     class="img-fluid rounded" alt="...">
                <br/>
                <br/>
            </div>
            <div class="card w-100 border-0" style="background-color: #E2B844; border-radius: 10px;">
                <div class="card-body p-4">
                    <h6 class="card-subtitle mb-2 text-center" style="font-weight: bold;">Políticas Generales</h6>
                    <br/>
                    <p class="card-text text-center"><strong>Política de Entrega y Pago:</strong> Si usted no cancela el pedido, no se le hará entrega del mismo.</p>
                    <br/>
                    <p class="card-text text-center"><strong>Política de Cambios:</strong> Cualquier cambio debe hacerse con 4 días de anticipación.</p>
                </div>
            </div>
        </div>

</section>